// .addcontanier{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     h1{
//         margin-top: 20px;
//     }

//     .textinput1{
//         margin-top: 20px;
//         input{
//             height: 50px;
//             padding: 30px;
//         }
//     }

//     .multiinput1{
//         display: flex;
//         flex-direction: row;

      
//             margin-top: 20px;
//             input{
//                 height: 50px;
//                 padding: 30px;
//             }
//     }

//     .submitbtn1{
//         width: 500px;
//         height: 50px;
//         margin-top: 30px;
//         border-radius: 10px;
//         background-color: green;
//         margin-bottom: 50px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         color: white;
//     }
// }




.addcontanier{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .textinput{
        display: flex;
        input{
            height: 20px;
            padding: 20px;
           
        }
        
        // select {
        //   height: 50px; /* Consistent height */
        //   padding: 25px;
        //   font-size: 16px;
        //   border: 1px solid #ccc;
        //   border-radius: 4px;
        //   background-color: white;
        //   /* Optional: add more styling as needed */
        // }
    }

    .dropdown {
        width: 700px;
        height: 50px; /* match the height to other input fields */
        padding: 10px; /* similar padding as your input fields */
        // border: 2px solid #656565; /* similar border */
        // border-radius: 1px; /* rounded corners to match input fields */
        font-size: 16px; /* similar font size */
        color: darkslategrey; /* consistent color */
        background-color: #fff; /* background color */
        
      }
      .textforFertilizer{
        color:darkslategrey;
        font-weight: bold;
        margin-top: 20px;
      }
      

    .textinputwithHeading{
        display: flex;
        flex-direction: column;
    }

    .checkbox{
        display: flex;
        flex-direction: row;
        margin-left: -138px;
        margin-top: 10px;
    }
    .checkboxText{
        margin-left: 3px;
        margin-right: 50px;
       
    }
    .textinputCheckbox{
        align-items:start;
        margin-left: -547px;
        color:darkslategrey;
        font-weight: bold;
        margin-top: 20px;
    }
    .textinputRight{
        margin-left: 100px ;
        font-weight:bold;
        color:darkslategrey;
        margin-bottom: 10px;
    }

    .textinputRightForFertilizer{
        margin-left: 50px ;
        font-weight:bold;
        color:darkslategrey;
        margin-bottom: 10px;
        font-size: smaller;
    }

    .textinputLeftTimeframe{
        margin-bottom: 10px;
        color:darkslategrey;
       font-weight: bold;
       font-size:smaller;
       
    }
    .textinputLeftTimeframe1{
        margin-bottom: 10px;
        margin-top: 10px;
        color:darkslategrey;
       font-weight: bold;
       font-size:smaller;
       
    }
    .textinputPrice{
        margin-left: 100px ;
        font-weight:bold;
        color:darkslategrey;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
    .textinputLeft{
        margin-bottom: 10px;
        color:darkslategrey;
       font-weight: bold;
       
    }
    .errorMessageTemp {
        color: red;
        margin-top: 10px;
        font-size: 10px;
        font-weight: bold;
        margin-left: -470px;
        text-align: left;
      }
      .errorMessagePrice{
        color: red;
        margin-top: 10px;
        font-size: 10px;
        font-weight: bold;
        margin-left: 250px;
        text-align: left;
      }

    .textinputLeft1{
        margin-bottom: 10px;
        margin-top: 20px;
        color:darkslategrey;
       font-weight:bold;
    }
    .textinputLeft1small{
        margin-bottom: 10px;
        margin-top: 20px;
        color:darkslategrey;
       font-weight:small;
    }
    .textinputCropName{
        margin-bottom: 10px;
        color:darkslategrey;
        font-weight: bold;
    }
    .youtubeButtonadd{
        display: flex;
        flex-direction:row-reverse;
        width: 700px;
    }
    .addButton{
        // margin-left: 620px;
        margin-top: 10px;
        width: 80px;
        height: 30px;
        border-radius: 0px;
        background-color: #80b918;
    }
    .removeButton{
        margin-right: 540px;
        margin-top: 10px;
        width: 80px;
        height: 30px;
        border-radius: 0px;
        background-color: #d4d700;
    }
    .removeButton1{
        margin-right: 620px;
        margin-top: 10px;
        width: 80px;
        height: 30px;
        border-radius: 0px;
        background-color: #d4d700;
    }
   

    .multiinput{
        display: flex;
        flex-direction: row;

      
            margin-top: 10px;
            
            input{
                height: 50px;
                padding: 20px;
            }
    }

    .submitbtn{
        width: 500px;
        height: 50px;
        margin-top: 30px;
        border-radius: 10px;
        background-color: green;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;
    }
}